<div class="list-container"  >
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let doctor of doctors">
        <mat-card class="mat-elevation-z4" (click)="onClick(doctor)">
          <mat-card-header class="title_center">
            <mat-card-title >{{doctor.doctorName}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <table>
                <tr><td>Name</td> <td>{{doctor.doctorName}}</td></tr>
                <tr><td>Qualification</td> <td>{{doctor.qualification}}</td></tr>
                <tr><td>Speciality</td> <td>{{doctor.speciality}}</td></tr>
                <tr><td>Experience</td> <td>{{doctor.experience}}</td></tr>
                <tr><td>Hospital</td> <td>{{doctor.hospitalName}}</td></tr>
                 <tr><td>Fees</td> <td>{{doctor.fees}}</td></tr>
                 <tr><td>Ratings</td> <td>{{doctor.ratings}}</td></tr>
                </table>       
                <p>---Click Here to View More---</p>     
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    </div>


 