.mat-form-field {
    display: block !important;
    position: relative;
    text-align: left;
}
mat-form-field,fieldset{
    width: 80%;
    padding: 5px;
    margin: 5px;
}
legend{
    color: rgb(20, 4, 34);
}
input{
    font-style: normal;
    
}
mat-radio-group{
    justify-content: space-between;
}
mat-radio-button{
    justify-content: space-between;
}

mat-label{
    width: 90%;
}

.margin-spacer{
    /* margin-top: 5rem; */
    margin-left: 5px;
    border: solid;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.example-spacer {
    flex: 1 1 auto;
}
.align-right{
    text-align: right;
    padding-right: 14rem;
}
.add-button-color{
    background-color: rgb(198, 250, 250);
}
body{
    text-align: center;
    align-items: center;
}
.form-center{
    /* border: solid ; */
    margin-top: 5rem;
}
